extends layouts/layout-primary

block content
  //- Delete all this markup to begin
  main
    section
      .logo
        img(src="assets/images/logo.png" alt="Email Template Generator")
      h1 Welcome to my <br/>Email Template Generator!
      p Happy coding :)