doctype html
html(lang='en')
  head
    block title
      title Email Template Generator
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    if production
      link(rel='stylesheet', href='assets/css/vendor.min.css')
      link(rel='stylesheet', href='assets/css/main.min.css')
    else
      link(rel='stylesheet', href='assets/css/vendor.css')
      link(rel='stylesheet', href='assets/css/main.css')
    //- MailChimp helpfull tags
    style(type='text/css').
      @media (prefers-color-scheme: dark){
        body {
          background-color: initial;
        }
      }
      center {
        display:none !important;
      }
    block head
      //- If extra head content is necessary per page, it can be added per screen

  body
    include includes/mixins
    include ../components/menu
    block content
      //- This gets replaced by content per page

    include ../components/footer
    block footer
      //- If extra footer content is necessary per page, it can be added per screen