//
// Indicius' Project Starter
//

// Remove all these styles and start adding your own.
// Add here your general styles like:
// body {
//   font-family: your-font;
// }

body {
  main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: #ffcc00;
    color: #fff;
    font-size: 24px;
    text-align: center;

    h1 {
      font-size: 36px;
      line-height: 1.2em;

      @include from(medium) {
        font-size: 52px;
      }
    }

    .logo {
      img {
        width: 220px;
        height: auto;

        * {
          fill: #fff;
        }
      }
    }
  }
}
